services:
  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  db:
    image: "postgres:15-alpine"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-notification_user} # Default to notification_user if not set
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-notification_password} # Default to notification_password if not set
      POSTGRES_DB: ${POSTGRES_DB:-notification_db} # Default to notification_db if not set
    volumes:
      - pg_data:/var/lib/postgresql/data

  prometheus:
    image: prom/prometheus:latest
    network_mode: "host"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3001:3000" # Grafana UI → http://localhost:3001
    volumes:
      - grafana_data:/var/lib/grafana

  loki:
    image: grafana/loki:latest
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100" # Loki API → http://localhost:3100
    volumes:
      - loki_data:/loki

volumes:
  redis_data:
  pg_data:
  prometheus_data:
  grafana_data:
  loki_data:
