APP_PORT=3000
POSTGRES_HOST="db"
REDIS_URL="redis:6379"
LOKI_URL="http://loki:3100"
QUEUE_PREFIX=redis_mq
MAX_RETRIES=3
NUM_THREADS=1
BACKOFF_EXPONENTIAL_FACTOR=2
BACKOFF_BASE_DELAY_MS=500
REAPING_INTERVAL_MINS=1
RATE_LIMIT_REQUEUE_DELAY_MS=1000
RECONCILIATION_INTERVAL_MINS=1
